name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
          # Mostly to avoid GitHub rate limiting
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v15
        with:
          name: mycache
          # If you chose API tokens for write access OR if you have a private cache
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build release
        run: nix develop --command just build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: target/

  deploy-pages:
    if: github.ref == 'refs/heads/main' && github.repository_owner == 'kuviman'
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v5
        with:
          path: target/
      - name: Upload pages artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4